#act{
    border: 6px double indigo;
    color:royalBlue;
}
#start{
    border: 6px groove deepPink;
    color:hotPink;
}
#end{
    border: 6px inset purple;
    color:paleVioletRed;
}
body{
    background-color:springGreen;
}